name: Test App

on:
  pull_request:
    branches:
      - main

jobs:
  test: 
    runs-on: ubuntu-latest
    container:
      image: node:20
    steps:
      - uses: actions/checkout@v3
      - run: |
          if [ -f package-lock.json ]; then
            npm ci
          else
            npm install
          fi
      - run: npm ci
      - run: npm test
      - run: npm run build