name: Test App

on:
  pull_request:
    branches:
      - main

jobs:
  test: ubuntu-latest
  container:
    image: node:20
  steps:
    - uses: actions/checkout
      with:
        node-version: 20
    - run: npm ci
    - run: npm test
    - run: npm run build